*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  margin-bottom: 1rem;
}

.header-logo {
  font-size: 20px;
  width: 100%;
  font-weight: bolder;
}

h1,
.header-logo {
  color: #f9faf8;
}

.header-logo {
  margin-left: 10rem;
  padding: 1rem 0;
}

nav,
ul,
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
}

.first-a {
  margin-left: auto;
}

ul {
  margin-right: 10rem;
}

p,
a {
  font-size: 18px;
  color: #b2b2b4;
}

a {
  text-decoration: none;
  margin-left: 2rem;
}

li {
  list-style: none;
}

button,
.call-to-action {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-weight: extra-bold;
}

.quote {
  font-weight: light;
  font-style: italic;
}

h2,
.quote {
  font-size: 36px;
  color: #1f2937;
}

/*     M A I N    T O P*/

.header-top {
  margin: 6rem 10rem;
}

.header-top-left {
  width: 32%;
  margin-right: 7rem;
}

.grey-image-placeholder {
  width: 480px;
  height: 200px;
  background-color: #717172;
  margin-right: 8rem;
  margin-left: 8rem;
}

button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 12px;
  margin-top: 1rem;
}

/*    M A I N    M I D */

h2 {
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.top-section {
  background-color: #f9faf8;
  height: 30rem;
}

.squares {
  display: flex;
  width: 100%;
  /* justify-content: space-around; */
  gap: 4rem;
  margin-left: 20%;
}

.square {
  max-width: 150px;
}

.light-blue-square {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.square p {
  font-size: 16px;
  color: #717172;
}

.square-p {
  margin-top: 1em;
}

/*      M A I N    M I D  2 */
.mid-section {
  height: 30rem;
  background-color: #e5e7eb;
}

article {
  padding: 10rem 12rem;
  /* text-align: center; */
}

.quote-name {
  text-align: right;
  font-weight: bolder;
  color: #1f2937;
  margin-right: 6rem;
  margin-top: 2rem;
}
