*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
}

.header-logo {
  font-size: 20px;
  width: 100%;
  font-weight: bolder;
}

h1,
.header-logo {
  color: #f9faf8;
}

.header-logo {
  margin-left: 8rem;
  padding: 1rem 0;
}

nav,
ul {
  width: 100%;
  display: flex;
  align-items: center;
}

.first-a {
  margin-left: auto;
}

ul {
  margin-right: 8rem;
}

p,
a {
  font-size: 18px;
  color: #b2b2b4;
}

a {
  text-decoration: none;
  margin-left: 2rem;
}

li {
  list-style: none;
}

button,
.call-to-action {
  background-color: #3882f6;
}

h2 {
  font-weight: extra-bold;
}

.quote {
  font-weight: light;
  font-style: italic;
}

h2,
.quote {
  font-size: 36px;
  color: #1f2937;
}
